body {
    background-color: grey;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
  }

  pre {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-align: center;
  }

  ul {
    color: brown;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: center;

 }

  div {
    text-align: center;
    color: black;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
  }
